<h1>Cadastro de Carros</h1>

<div id="style">
<div>
  <label for="txtMarca">Marca: </label>
  <input type="text" [(ngModel)]="carro.marca" id="txtMarca" name="txtMarca"
  />
</div>

<div>
  <label for="txtPlaca">Placa: </label>
  <input type="text" [(ngModel)]="carro.placa" id="txtPlaca" name="txtPlaca"
   />
</div>

<div>
  <label for="txtAno">Ano: </label>
  <input type="text" [(ngModel)]="carro.ano" id="txtAno" name="txtAno"
   />
</div>

<div>
  <label *ngFor="let opcao of tiposCarro">
    <input type="radio" [(ngModel)]="carro.tipo" [value]="opcao" />
    {{ opcao }}
  </label>
</div>

<button (click)="salvar(carro)">salvar</button>

<p *ngIf="valida"> {{ mensagem }}</p>

</div>


