<div id="style">
  <div class="fundo">
    <div id="cabecalho">
        <h2 class="marca">Marca</h2>
        <h2 class="placa">Placa</h2>
        <h2 class="ano">Ano</h2>
        <h2 class="tipo">Tipo</h2>
        <h2 class="lixo"></h2>
    </div>
    <div>
      <div *ngFor="let listar of lista; let i = index" class="coluna">
        <p class="marca">{{ listar.marca }}</p>
        <p class="placa">{{ listar.placa }}</p>
        <p class="ano">{{ listar.ano }}</p>
        <p class="tipo"  [ngStyle]="getEstilo(listar.tipo)">{{ listar.tipo }}</p>
        <div class="lixo">
            <button (click)="editar(i)">
              <img src="../../../assets/icones/editar.png"/>
              </button>
          <button (click)="excluir(i)">
            <img src="../../../assets/icones/excluir.png" />
          </button>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
